// Animations
@keyframes pulse {
  from {
    width: 30px;
    height: 30px;
    margin: -15px 0 0 -15px;
  }
  to {
    width: 40px;
    height: 40px;
    margin: -20px 0 0 -20px;
  }
}

@keyframes wave {
  from {
    transform: rotate(-20deg);
  }
  to {
    transform: rotate(45deg);
  }
}
