html {
 font-size: 8px;
 @media screen and (min-width: $breakPoint__mobile) {
   font-size: 9px;
 }
 @media screen and (min-width: $breakPoint__tablet) {
   font-size: 10px;
 }
}

html, body {
 width: 100%;
 height: 100%;
}

body {
  margin: 0;
  background: $lighter;
  font-family: $mainFont;
}

.pretty-link {
  text-decoration: none;
  position: relative;
  transition: top 200ms $easeInOutExpo;
  top: 0;

  &:hover {
    color: $dark;
    top: 3px;
  }

}

a {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: inherit;
  text-decoration: none;
  color: inherit;
}

.pretty-link {
  border-bottom: 0;
  font-family: $secondaryFont;
  font-weight: 400;
  font-size: 1.3em;
  letter-spacing: 0.05em;
}

em, .pretty-link {
  background-color: $accent;
  border-radius: 2px;
  padding: 0 2px 2px 2px;
  color: $dark;
  position: relative;
  font-style: normal;
}

p, li {
  font-size: 1.25em;
  text-align: left;

  @media screen and (min-width: $breakPoint__mobile) {
    font-size: 1.1em;
    text-align: justify;
  }
}

p, li {
  font-weight: 400;
}

ul {
  padding-left: 25px;
  list-style: none;
}

.image {
  position: relative;
  display: block;
  max-width: 100%;
}

li {
  padding-bottom: 10px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: -25px; // Same as ul's padding left
    top: 8px;
    width: 8px;
    height: 8px;
    border: 1px $dark solid;
    border-radius: 10px;
  }

}

.has-text-center {
  text-align: center;
}
