@font-face {
  font-family: 'Avenir Next';
  src: url('../fonts/avenir-next/AvenirNext-Regular.eot');
  src: url('../fonts/avenir-next/AvenirNext-Regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/avenir-next/AvenirNext-Regular.woff2') format('woff2'),
       url('../fonts/avenir-next/AvenirNext-Regular.woff') format('woff'),
       url('../fonts/avenir-next/AvenirNext-Regular.ttf') format('truetype'),
       url('../fonts/avenir-next/AvenirNext-Regular.svg#AvenirNext-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
	font-family: "Avenir Web";
	src: url("../fonts/avenir/avenir-medium.eot");
	src: url("../fonts/avenir/avenir-medium.eot#iefix") format("embedded-opentype"),
	     url("../fonts/avenir/avenir-medium.woff") format("woff"),
	     url("../fonts/avenir/avenir-medium.ttf") format("truetype"),
	     url("../fonts/avenir/avenir-medium.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}

$mainFont: 'Avenir Next', monospace;
$secondaryFont: 'Helvetica Neue', 'Helvetica', sans-serif;
