.slider {
  width: 100%;
  height: 0;
  padding-bottom: 60%;
}

.slider > * {
  position: absolute;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  opacity: 0;
  transition: all 1s $easeInOutExpo;
}

.slider .slider__active-slide {
  opacity: 1;
}
