.article {
  z-index: 5;
  position: relative;
  padding: 20px 0;
  animation-duration: 450ms;
  transform: scale(1);

  @media screen and (min-width: $breakPoint__mobile) {

      animation-delay: 400ms;

    &.article--zoom {
      transform: scale(1.05);
      transition: transform $animationSpeed $easeInOutExpo;
    }

    &.article--with-heading {
      padding-left: 175px;

      p:first-of-type {
        margin-top: -44px;
      }

      img:first-of-type {
        margin-top: -30px;
      }
    }

  }

}

.section__inner--alternate-colors .article {
  background-color: $accent_alternate;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
  border-radius: 3px;
  margin: 15px 0;
  position: relative;

  @media screen and (min-width: $breakPoint__mobile) {
    margin: 40px 0;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 30px;
    padding-bottom: 30px;

    &.article--with-heading {
      padding-left: 225px;

      &:nth-of-type(even) {
        padding-right: 225px;
        padding-left: 50px;

        .article__heading {
          margin-left: auto;
          margin-right: -175px;
          text-align: right;
        }

      }



    }
  }

  @media screen and (min-width: $breakPoint__large_desktop) {
    padding-left: 100px;
    padding-right: 100px;
    &.article--with-heading {
      padding-left: 275px;
      &:nth-of-type(even) {
        padding-right: 275px;
        padding-left: 100px;
      }
    }
  }

  &:nth-of-type(even) {
    background-color: $accent_lighter;
  }
}

.article__heading {
  font-family: $secondaryFont;
  font-size: 1.2em;
  text-transform: lowercase;
  letter-spacing: 0.05em;
  line-height: 1.2em;
  font-weight: 400;
  padding-top: 0;
  letter-spacing: 0.05em;
  top: 0;


  @media screen and (min-width: $breakPoint__mobile) {
    margin-left: -175px;
    padding-top: 40px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    left: 0;
  }

}
