.browser {

  position: relative;
  border-top: 25px $lighter solid;
  margin-bottom: 40px;
  background-color: transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;

  &::before,
  &::after {
    content: "";
    width: 14px;
    height: 14px;
    position: absolute;
    top: -19px;
    border-radius: 7px;
  }

  &::before {
    background-color: rgb(219, 149, 149);
    left: 8px;
  }

  &::after {
    left: 28px;
    background-color: rgb(179, 203, 179);
  }

  .browser__content {

    img {
      width: 100%;
      margin: 0;
      display: block;
    }

    video {
      width: 100%;
      margin: 0;
      display: block;
    }

  }

}
