.button,
.button:focus,
.button:hover {
  color: $lighter;
  background-color: $darker;
  border-radius: 3px;
  border: none;
  font-family: $secondaryFont;
  font-weight: 400;
  letter-spacing: 0.1em;
  padding: 0 20px;
  font-size: 0.8em;

  @media screen and (min-width: $breakPoint__mobile) {
    padding: 25px 40px;
  }

}
