.page-footer {
  animation-duration: 450ms;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  padding: 25px 0;
  z-index: 25;
  background-color: $lighter;
  box-sizing: border-box;
  transition: all $animationSpeed $easeInOutExpo;

  h2 {
    text-align: center;
    font-family: $secondaryFont;
    letter-spacing: 0.05em;
    text-transform: lowercase;
    font-size: 1.6em;
    color: $darker;
    font-weight: 400;
    transition: color $animationSpeed $easeInOutExpo,
                opacity $animationSpeed $easeInOutExpo;
    width: 100%;
  }

  p {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    transition: color $animationSpeed $easeInOutExpo,
                opacity $animationSpeed $easeInOutExpo;
    padding: 0 30px 20px 30px;
  }

  .show-when-expanded {
    position: absolute;
    top: 100%;
    padding-top: 25px;
    width: 100%;
    transition: all $animationSpeed $easeInOutExpo;
    background-color: $lighter;

    p {
      padding-bottom: 0;
    }

    h2, p {
     opacity: 0;
    }
  }

  &.page-footer--expanded {

    padding: 25px 0 30px 0;

    .show-when-expanded {
      top: 0;
      transform: translateY(-100%);

      h2, p {
       opacity: 1;
      }

    }

  }

  @media screen and (min-width: $breakPoint__tablet) {
    width: 70%;

     &::before {

       content: "";
       width: 0;
       position: absolute;
       right: 0;
       top: 0;
       height: 100%;
       background-color: $darkBlue;
       transition: width $animationSpeed $easeInOutExpo;
       z-index: -1;
     }
  }

}

.page-container--darkened .page-footer {
  z-index: 50;
}

body.portfolio .page-footer {

  background-color: $darkBlue;

  h2, p {
    color: $lighter;
  }

  .show-when-expanded {
     background-color: $darkBlue;
  }

  @media screen and (min-width: $breakPoint__tablet) {

    left: 30%;

    &::before {
      width: 100%;
    }

  }
}
