.page-header {
  animation-duration: 450ms;
  position: fixed;
  width: 100%;
  padding: 40px 0;
  z-index: 50;
  background-color: $lighter;
  box-sizing: border-box;

  @media screen and (min-width: $breakPoint__mobile) {
    padding: 50px 0;
  }

  .show-on-hover {
    display: none!important;
  }

  @media screen and (min-width: $breakPoint__tablet) {
    padding: 40px 0;
    width: auto;
    background-color: transparent;
    &:hover {

      .show-on-hover {
        display: inline-block!important;
      }

      .hide-on-hover {
        display: none;
      }

    }

  }

}

body.portfolio .page-header {
  background-color: $darkBlue;
  @media screen and (min-width: $breakPoint__tablet) {
    background-color: transparent;
  }
}

.to-other-page {
  position: absolute;
  top: 50%;
  left: 25px;
  text-transform: none;
  transform: translateY(-50%);
  opacity: 1;
  transition: all $animationSpeed $easeInOutExpo;
  width: 100px;

  &:hover {
    top: 50%;
  }

  @media screen and (min-width: $breakPoint__mobile) {
    width: 130px;
  }

  @media screen and (min-width: $breakPoint__tablet) {
    display: none;
  }

}

.to-other-page__arrow {
  position: absolute;
  transition: all $animationSpeed $easeInOutExpo;

}

.to-other-page__text {
  transition: all $animationSpeed $easeInOutExpo;
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
  transition: all $animationSpeed $easeInOutExpo;
  top: 0;
}

body.info .to-other-page {
  left: calc(100% - 25px);
  transform: translateY(-50%) translateX(-100%);
  padding-right: 35px;
  padding-left: 20px;

  @media screen and (min-width: $breakPoint__mobile) {
    left: calc(100% - 40px);
    padding-right: 50px;
    padding-left: 35px;
  }

}

body.info .to-other-page__arrow {
  left: calc(100% - 15px);
  transform: translateX(-100%);

  @media screen and (min-width: $breakPoint__mobile) {
    left: calc(100% - 25px);
    top: 7px;
  }

}

body.info .to-other-page__text--on-info,
body.portfolio .to-other-page__text--on-portfolio {
  transform: scale(1);

  @media screen and (min-width: $breakPoint__mobile) {
    top: 7px;
  }

}

body.info .to-other-page__text--on-info {
  left: -5px;
}

body.portfolio .to-other-page__text--on-portfolio {
  left: 5px;
}

body.info .to-other-page__text--on-portfolio,
body.portfolio .to-other-page__text--on-info {
  transform: scale(0);
}

body.portfolio .to-other-page__text--on-info {
  opacity: 0;
}

body.portfolio .to-other-page__arrow {
  left: 27px;
  margin-top: 1px;
  transform: translateX(0) rotate(-180deg);

  @media screen and (min-width: $breakPoint__mobile) {
    top: 6px;
    left: 38px;
  }

}

body.portfolio .to-other-page {
  left: 25px;
  padding-right: 20px;
  padding-left: 35px;
  background-color: $lighter;
  color: $dark;

  @media screen and (min-width: $breakPoint__mobile) {
    left: 40px;
  }

}
