.article--hero {

  padding: 50px 0 30px 0;

  p {
    font-weight: 400;
    font-family: 'Avenir Web', sans-serif;
    line-height: 1.7em;
    font-size: 1.4em;
    text-align: left;

  }

  @media screen and (min-width: $breakPoint__small_mobile) {
    padding: 60px 0 30px 0;
    p {
      font-size: 1.5em;
      &:first-of-type {
        margin-top: 0;
      }
    }



  }

  @media screen and (min-width: $breakPoint__mobile) {
    padding: 150px 0 100px 0;
    p {
      font-size: 1.8em;
      line-height: 1.45em;
      text-align: justify;
    }
  }
}
