.loading {
  position: fixed;
  z-index: 2000;
  width: 100%;
  height: 100%;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    max-height: 100vh;
    background: $lighter;
    top: 0;
    left: 0;
    z-index: 100;
  }

  &::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    border: 1px $light solid;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    margin: -15px 0 0 -15px;
    z-index: 150;
    animation-iteration-count: infinite;
    animation-name: pulse;
    animation-duration: 0.2s;
    animation-direction: alternate;
  }

  * {
    animation-name: none!important;
  }

}
