.logo {
  width: auto;
  margin: 0;
  padding: 0;
  font-family: $secondaryFont;
  font-weight: 400;
  font-size: 1.4em;
  letter-spacing: 0.05em;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  white-space: nowrap;
  transition: all $animationSpeed $easeInOutExpo;

  @media screen and (min-width: $breakPoint__tablet) {
    transform: translateY(0);

    &.logo--vertical {
      transform: rotate(-90deg);
      transform-origin: bottom left;
      top: 195px;
    }
  }
}

body.info .logo {
  left: 25px;

  @media screen and (min-width: $breakPoint__mobile) {
    left: 50px;
  }
}

body.portfolio .logo {
  left: calc(100% - 25px);
  transform: translateY(-50%) translateX(-100%);
  color: $lighter;

  @media screen and (min-width: $breakPoint__mobile) {
    left: calc(100% - 50px);
  }

  @media screen and (min-width: $breakPoint__tablet) {
    left: 30vw;
    margin-left: 50px;
    transform: translateY(0);

    &.logo--vertical {
      transform: rotate(-90deg) translateY(0);
      margin-left: 60px
    }

  }
}

.logo__symbol {
 display: inline-block;
 text-align: center;
 width: 20px;

 &.show-on-hover {
   display: none;
 }

}
