.page-container {
  width: 100%;
  position: relative;
  overflow-x: hidden;
  background-color: $lighter;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: $darker;
    opacity: 0;
    z-index: 0;
    top: 0;
    left: 0;
    transition: all $animationSpeed $easeInOutExpo;
  }

  &.page-container--darkened {

    &::before {
      opacity: 0.7;
      z-index: 50;
    }

  }

  @media screen and (min-width: $breakPoint__tablet) {
    overflow-x: visible;
  }
}
