.article--project {
  padding-left: 0;

  .article__heading {
    padding-top: 0;
    margin-left: 0;
    position: relative;
  }

  p:first-of-type {
    margin-top: 0;
  }

  &:first-of-type {
    padding-top: 50px;
  }

  @media screen and (min-width: $breakPoint__mobile) {
    padding: 40px 0;

    &:first-of-type {
      padding-top: 100px;
    }
  }
}
