.section {
  min-height: 100%;
  box-sizing: border-box;
  position: relative;
  width: 100%;
  padding: 50px 0 75px 0;
  transition: all $animationSpeed $easeInOutExpo;
  z-index: 2;

  @media screen and (min-width: $breakPoint__tablet) {
    width: 70%;
  }

  &.section--info {
    background-color: $lighter;
    border-color: $darker;
    color: $darker;
  }

  &.section--portfolio {
    color: $lighter;
    border-color: $lighter;
    background-color: $darkBlue;
  }

  &.section--open {

     &.section--out-of-focus {
      .section__inner {
        opacity: 0.75;
      }
    }

    @media screen and (min-width: $breakPoint__tablet) {

      &.section--portfolio {
        left: 30%;
      }

      &.section--info {
        left: 0;
      }

    }

  }

  &.section--closed {
    opacity: 0;
    height: 100vh;
    overflow-y: hidden;
    z-index: 20;
    position: absolute;
    top: 0;

    @media screen and (min-width: $breakPoint__tablet) {
      height: auto;
      overflow: none;
      position: fixed;
      opacity: 1;
      cursor: pointer;
      z-index: 30;
      padding-left: 20px;

      .section__inner {
        opacity: 0.3;
      }
    }

    &:hover {
      .section__inner {
        opacity: 0.75;
      }
    }

    &.section--info {
      left: -100%;
      transform-origin: top center;

      @media screen and (min-width: $breakPoint__tablet) {
        left: -40%;
      }

      &:hover {
        margin-left: 50px;
        transform: scale(1.02);
      }

    }

    &.section--portfolio {
      left: 100%;
      transform-origin: top center;

      @media screen and (min-width: $breakPoint__tablet) {
        left: 70%;

        &:hover {
          margin-left: -50px;
          .section__inner {
            transform: scale(1.01);
          }

        }
      }
    }
  }

}

@media screen and (min-width: $breakPoint__tablet) {
  .page-container--darkened .section--portfolio,
  .section--portfolio.section--out-of-focus {
    .section__inner {
      transform: scale(0.99);
    }
  }
  .page-container--darkened .section--info,
  .section--info.section--out-of-focus {
    transform: scale(0.98);
  }
}

.section__inner {
  padding: 0 30px;
  margin: 0 auto;
  position: relative;
  max-width: 700px;
  opacity: 1;
  z-index: 0;
  left: 0;
  transition: all $animationSpeed $easeInOutExpo;
  transform-origin: center center;

  @media screen and (min-width: $breakPoint__mobile) {
    padding: 0 70px;
    transform: scaleZ(1);
  }

}

.section__inner--alternate-colors {
  padding-left: 0;
  padding-right: 0;
  width: 95%;
  max-width: 800px;

  @media screen and (min-width: $breakPoint__large_desktop) {
    max-width: 900px;
  }
}
