.wave {
  animation-iteration-count: infinite;
  animation-name: wave;
  animation-duration: 0.5s;
  animation-direction: alternate;
  animation-timing-function: linear;
  display: inline-block;
  font-size: 1.7em;
}
